@model IEnumerable<WildernessOdyssey.Models.UsersBooking>

@{
    ViewBag.Title = "Ratting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Past Trips</h2>

@* This has been implemeneted in booking history hence not in use. *@
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>

         @Html.DisplayNameFor(model => model.RattingScale)

            </th>
            <th>

                @Html.DisplayNameFor(model => model.Comments)

            </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip.TripType)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            <td>
                     @Html.DisplayFor(modelItem => item.RattingScale)
                </td>
                <td>

                     @Html.DisplayFor(modelItem => item.Comments)

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.TripType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            
        </tr>
    }

</table>
